<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/main.css" />
    <title>Форма</title>
  </head>
  <body>
    <header>
      <h1>Оставтьте заявку</h1>
    </header>
    <div class="contact">   
        <br>
      <p class="contact-text">
        Мы очень рады увидет вас в нашем центре!<br>
        Отправьте ваши данные и наши Специалисты свяжутся с вами!
    </p>
    </div>

    <div id="form">
      <div class="fish" id="fish"></div>
      <div class="fish" id="fish2"></div>

      <form action="/email" method="POST" id="waterform">
        <div class="formgroup" id="name-form">
          <label for="name">Ф.И.О</label>
          <input type="text" id="name" name="fullName" />
        </div>

        <div class="formgroup" id="email-form">
          <label for="number">Ваше номер</label>
          <input type="number" id="number" name="phoneNumber" />
        </div>

        <input type="submit" value="Отправить" />
      </form>
    </div>

    <script>
      $("document").ready(function () {
        $('input[type="text"], input[type="email"], textarea').focus(
          function () {
            var background = $(this).attr("id");
            $("#" + background + "-form").addClass("formgroup-active");
            $("#" + background + "-form").removeClass("formgroup-error");
          }
        );
        $('input[type="text"], input[type="email"], textarea').blur(
          function () {
            var background = $(this).attr("id");
            $("#" + background + "-form").removeClass("formgroup-active");
          }
        );

        function errorfield(field) {
          $(field).addClass("formgroup-error");
          console.log(field);
        }

        $("#waterform").submit(function () {
          var stopsubmit = false;

          if ($("#name").val() == "") {
            errorfield("#name-form");
            stopsubmit = true;
          }
          if ($("#email").val() == "") {
            errorfield("#email-form");
            stopsubmit = true;
          }
          if (stopsubmit) return false;
        });
      });
    </script>
  </body>
</html>
