<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/main.css">
    <title>Форма</title>
  </head>
  <body>


      <div class="container-fluid contact1 ">
        <div class="card w-35">
          <div class="card-body">
            <h4 class="card-text text-center">Cпасибо за внимания .<br> Скоро с вами будем связаться 📞</h4> 
          </div>
        </div>
      </div>

    
    
  </body>
</html>
